@import url(variables.css);


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}

body{
    background: var(--color-primary);
}

.container{
    display: grid;
    grid-gap: 8px;
    width: 800px;
    height: 700px;
    margin: 15px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "MacBookAir MacBookProApp MacBookProApp"
    "MacBookAir MacBookProApp MacBookProApp"
    "MacBookAirScreen MacBookAirScreen MacBookPro"
    "MacBookAirScreen MacBookAirScreen MacBookPro"
    ;

}

.container div{
    border-radius: 8px;
    background: var(--color-secundary);
}


.item1{
    grid-area: MacBookAir;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.card {
    color: #e66e53; 
}

.air {
    color: rgb(0, 0, 0); 
}


.mo {
    text-align: center; 
}


.mo {
    text-align: center; 
}

.edu {
    color: rgb(68, 75, 68); 
}


.item1 img,
.item1 p,
.item1 b {
    display: block;
    margin-bottom: 10px; 
}




.item2{
    grid-area: MacBookProApp;
   
}

.item2 b{
    display: flex;
    flex-direction: column;
}

.item2 img{
    margin-left: 118px;
    margin-top: -40px;
    display: flex;
    justify-content: flex-end;
    width: 77%;
    height: 77%;
    position: relative;
}

.pro{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 18px;
}

.major{
    margin-top: 15px;
    margin-left: 30px;
    font-size: 25px;
}

.item3{
    grid-area: MacBookAirScreen;
    
}

.item3 b{
    display: flex;
    flex-direction: column;
}

.item3 img{
    display: flex;
    width: 75%;
    height: 75%;
    margin: 10px 0 0 65px;

}

.macbook{
    font-size: 18px;
    margin-top: 30px;
    margin-left: 30px;
}

.big{
    font-size: 25px;
    margin-top: 0px;
    margin-left: 30px;
}

.item4{
    grid-area: MacBookPro;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.gift {
    color: #e66e53; 
}

.macbookPro {
    color: rgb(0, 0, 0); 
}


.price {
    text-align: center; 
}


.price{
    text-align: center; 
}

.disc{
    color: rgb(68, 75, 68); 
}

.pequena {
    width: 260px; 
    height: 130px; 
}

.item4 img,
.item4 p,
.item4 b {
    display: block;
    margin-bottom: 10px; 
}



@media( width < 800px){
    
    .container{
        grid-template-areas:
            "MacBookAir MacBookAir MacBookAir"
            "MacBookProApp MacBookProApp MacBookProApp"
            "MacBookAirScreen MacBookAirScreen MacBookAirScreen"
            "MacBookPro MacBookPro MacBookPro"
        ;
    }
}